    
   <!-- <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
      </div>
    </div>-->
   

    <div id ="learn">

      <div class="ang">
        <h3>Learn Angular JS</h3>

        <h4> Install node.js</h4>
          <a  target="_blank" href="https://nodejs.org/en/download/">https://nodejs.org/en/download/</a>

        <h4>Install TypeScript</h4>
        <span>npm install -g typescript</span>

        <h4>Open source IDE</h4>
            <a target="_blank" href="https://code.visualstudio.com/?utm_expid=101350005-25.TcgI322oRoCwQD7KJ5t8zQ.0" >https://code.visualstudio.com/</a>
        <h4>Install Angular 5</h4>
          <span>$ npm install @angular/cli -g</span>
       
        <h4>Create new Project </h4>
          <span>$ ng new your-new-project-name --style=scss --routing</span>
          <span>Move to project: $ cd your-new-project-name</span>
      
        <h4>Start server </h4>
          <span>$ ng serve</span>
      
          <h4>Creating a New Component</h4>
            <span>$ ng generate component home</span>
            <span>Standard syntax: $ ng g c home</span>
            <h5>Nesting a Component</h5>
            <span>Open up /src/app/app.component.html. Replace everything there with:  </span>
            <pre>
                &lt;ul&gt;
                &lt;li&gt;&lt;a routerLink="home">Home&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a routerLink="about">About&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;    
                &lt;app-home&gt;&lt;/app-home&gt;
                &lt;router-outlet&gt;&lt;/router-outlet&gt;
          </pre>
          <h4>Create Service </h4>
          <span>$ ng generate service YourServiceName</span>
         <br>
        <h4>Install google maps API:</h4>
          <span>npm install @types/googlemaps --save --dev</span>
          <br>
      </div>
    <div id="dep"> 
      <h3>Deployement:</h3>
        build your local
        ng build
        <br>
        ng build --prod
        <br>
        <br>
        Initiate git
        git init
        <br>
        git add .
        <br>
        commit your changes to git hub
        git commit -m "Second commit"
        <br>
        Push changes to Git hub
        git push origin master
        <br>
        <br>
        To build your prod from git repo
        ng build --prod --base-href="https://kishankumars.github.io/ng5/"
        <br>
        To publish to your URL:
        angular-cli-ghpages
        <br>
    </div>
    <br>
    </div>
    
      