<div class="container color-dark">
  <div class="col">
    <p>Add a bucket list items</p>
  </div>
  <div class="col">
    <p> your bucket list items ({{itemCount}}) </p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal. What do you want to do with your  life?</p>
    <form>
      <input name="item" type="text" class="txt" placeholder="Life Goal.." [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnTxt" (click)="addItem()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let t of goals; let i =index" (click)="removeItem(i)" >
      {{ t }}
    </p>
  </div>
</div>
<div class="row white content" *ngIf="tab==1" style="width: 50%">
    <div class="col s12">
      <h3>Demos</h3>
      <h5>Single Select Dropdown</h5>
      <div class="row">
        <div class="col s12 l6">
            <ngx-select-dropdown [multiple]="false" [(value)]="singleSelect" [config]="config" [options]="options"></ngx-select-dropdown>
        </div>
        <div class="col s12 l6 flow-text" >
          <p style="margin: 0;">Balance of selected user: {{singleSelect[0]?.balance}}</p>
        </div>
      </div>

      <h5>Multi Select Dropdown</h5>
      <div class="row">
        <div class="col s12 l6">
            <ngx-select-dropdown (change)="changeValue($event)" [multiple]="true" [(value)]="multiSelect" [config]="config" [options]="options"></ngx-select-dropdown>
        </div>
        <div class="col s12 l6 flow-text" >
          <p style="margin: 0;">Selected Options:-</p>
          <p style="margin: 0;" *ngFor="let user of multiSelect"><strong>Name:</strong> {{user.name}} , <strong>Balance:</strong> {{user.balance}}</p>
        </div>
      </div>

      </div>

</div>
